.stroke-primary-1 {
    stroke: var(--o-ui-primary-1);
}

.stroke-primary-2 {
    stroke: var(--o-ui-primary-2);
}

.stroke-primary-3 {
    stroke: var(--o-ui-primary-3);
}

.stroke-primary-4 {
    stroke: var(--o-ui-primary-4);
}

.stroke-primary-5 {
    stroke: var(--o-ui-primary-5);
}

.stroke-primary-6 {
    stroke: var(--o-ui-primary-6);
}

.stroke-primary-7 {
    stroke: var(--o-ui-primary-7);
}

.stroke-primary-8 {
    stroke: var(--o-ui-primary-8);
}

.stroke-primary-9 {
    stroke: var(--o-ui-primary-9);
}

.stroke-primary-10 {
    stroke: var(--o-ui-primary-10);
}

.hover-stroke-primary-1:hover {
    stroke: var(--o-ui-primary-1);
}

.hover-stroke-primary-2:hover {
    stroke: var(--o-ui-primary-2);
}

.hover-stroke-primary-3:hover {
    stroke: var(--o-ui-primary-3);
}

.hover-stroke-primary-4:hover {
    stroke: var(--o-ui-primary-4);
}

.hover-stroke-primary-5:hover {
    stroke: var(--o-ui-primary-5);
}

.hover-stroke-primary-6:hover {
    stroke: var(--o-ui-primary-6);
}

.hover-stroke-primary-7:hover {
    stroke: var(--o-ui-primary-7);
}

.hover-stroke-primary-8:hover {
    stroke: var(--o-ui-primary-8);
}

.hover-stroke-primary-9:hover {
    stroke: var(--o-ui-primary-9);
}

.hover-stroke-primary-10:hover {
    stroke: var(--o-ui-primary-10);
}

.focus-stroke-primary-1:focus {
    stroke: var(--o-ui-primary-1);
}

.focus-stroke-primary-2:focus {
    stroke: var(--o-ui-primary-2);
}

.focus-stroke-primary-3:focus {
    stroke: var(--o-ui-primary-3);
}

.focus-stroke-primary-4:focus {
    stroke: var(--o-ui-primary-4);
}

.focus-stroke-primary-5:focus {
    stroke: var(--o-ui-primary-5);
}

.focus-stroke-primary-6:focus {
    stroke: var(--o-ui-primary-6);
}

.focus-stroke-primary-7:focus {
    stroke: var(--o-ui-primary-7);
}

.focus-stroke-primary-8:focus {
    stroke: var(--o-ui-primary-8);
}

.focus-stroke-primary-9:focus {
    stroke: var(--o-ui-primary-9);
}

.focus-stroke-primary-10:focus {
    stroke: var(--o-ui-primary-10);
}
