.primary-1 {
    color: var(--o-ui-primary-1);
}

.primary-2 {
    color: var(--o-ui-primary-2);
}

.primary-3 {
    color: var(--o-ui-primary-3);
}

.primary-4 {
    color: var(--o-ui-primary-4);
}

.primary-5 {
    color: var(--o-ui-primary-5);
}

.primary-6 {
    color: var(--o-ui-primary-6);
}

.primary-7 {
    color: var(--o-ui-primary-7);
}

.primary-8 {
    color: var(--o-ui-primary-8);
}

.primary-9 {
    color: var(--o-ui-primary-9);
}

.primary-10 {
    color: var(--o-ui-primary-10);
}

.hover-primary-1:hover {
    color: var(--o-ui-primary-1);
}

.hover-primary-2:hover {
    color: var(--o-ui-primary-2);
}

.hover-primary-3:hover {
    color: var(--o-ui-primary-3);
}

.hover-primary-4:hover {
    color: var(--o-ui-primary-4);
}

.hover-primary-5:hover {
    color: var(--o-ui-primary-5);
}

.hover-primary-6:hover {
    color: var(--o-ui-primary-6);
}

.hover-primary-7:hover {
    color: var(--o-ui-primary-7);
}

.hover-primary-8:hover {
    color: var(--o-ui-primary-8);
}

.hover-primary-9:hover {
    color: var(--o-ui-primary-9);
}

.hover-primary-10:hover {
    color: var(--o-ui-primary-10);
}

.focus-primary-1:focus {
    color: var(--o-ui-primary-1);
}

.focus-primary-2:focus {
    color: var(--o-ui-primary-2);
}

.focus-primary-3:focus {
    color: var(--o-ui-primary-3);
}

.focus-primary-4:focus {
    color: var(--o-ui-primary-4);
}

.focus-primary-5:focus {
    color: var(--o-ui-primary-5);
}

.focus-primary-6:focus {
    color: var(--o-ui-primary-6);
}

.focus-primary-7:focus {
    color: var(--o-ui-primary-7);
}

.focus-primary-8:focus {
    color: var(--o-ui-primary-8);
}

.focus-primary-9:focus {
    color: var(--o-ui-primary-9);
}

.focus-primary-10:focus {
    color: var(--o-ui-primary-10);
}
