.hover-bs-1:hover {
    box-shadow: var(--o-ui-bs-1);
}
.hover-bs-2:hover {
    box-shadow: var(--o-ui-bs-2);
}
.hover-bs-3:hover {
    box-shadow: var(--o-ui-bs-3);
}
.hover-bs-4:hover {
    box-shadow: var(--o-ui-bs-4);
}

@media (--breakpoint-not-small) {
    .hover-bs-1-ns:hover {
        box-shadow: var(--o-ui-bs-1);
    }
    .hover-bs-2-ns:hover {
        box-shadow: var(--o-ui-bs-2);
    }
    .hover-bs-3-ns:hover {
        box-shadow: var(--o-ui-bs-3);
    }
    .hover-bs-4-ns:hover {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-medium) {
    .hover-bs-1-m:hover {
        box-shadow: var(--o-ui-bs-1);
    }
    .hover-bs-2-m:hover {
        box-shadow: var(--o-ui-bs-2);
    }
    .hover-bs-3-m:hover {
        box-shadow: var(--o-ui-bs-3);
    }
    .hover-bs-4-m:hover {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-large) {
    .hover-bs-1-l:hover {
        box-shadow: var(--o-ui-bs-1);
    }
    .hover-bs-2-l:hover{
        box-shadow: var(--o-ui-bs-2);
    }
    .hover-bs-3-l:hover {
        box-shadow: var(--o-ui-bs-3);
    }
    .hover-bs-4-l:hover{
        box-shadow: var(--o-ui-bs-4);
    }
}

.focus-bs-1:focus {
    box-shadow: var(--o-ui-bs-1);
}
.focus-bs-2:focus {
    box-shadow: var(--o-ui-bs-2);
}
.focus-bs-3:focus {
    box-shadow: var(--o-ui-bs-3);
}

.focus-bs-4:focus {
    box-shadow: var(--o-ui-bs-4);
}

@media (--breakpoint-not-small) {
    .focus-bs-1-ns:focus {
        box-shadow: var(--o-ui-bs-1);
    }
    .focus-bs-2-ns:focus {
        box-shadow: var(--o-ui-bs-2);
    }
    .focus-bs-3-ns:focus {
        box-shadow: var(--o-ui-bs-3);
    }
    .focus-bs-4-ns:focus {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-medium) {
    .focus-bs-1-m:focus {
        box-shadow: var(--o-ui-bs-1);
    }
    .focus-bs-2-m:focus {
        box-shadow: var(--o-ui-bs-2);
    }
    .focus-bs-3-m:focus {
        box-shadow: var(--o-ui-bs-3);
    }
    .focus-bs-4-m:focus {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-large) {
    .focus-bs-1-l:focus {
        box-shadow: var(--o-ui-bs-1);
    }
    .focus-bs-2-l:focus{
        box-shadow: var(--o-ui-bs-2);
    }
    .focus-bs-3-l:focus {
        box-shadow: var(--o-ui-bs-3);
    }
    .focus-bs-4-l:focus{
        box-shadow: var(--o-ui-bs-4);
    }
}
