.bs-1 {
    box-shadow: var(--o-ui-bs-1);
}

.bs-2 {
    box-shadow: var(--o-ui-bs-2);
}

.bs-3 {
    box-shadow: var(--o-ui-bs-3);
}

.bs-4 {
    box-shadow: var(--o-ui-bs-4);
}

@media (--breakpoint-not-small) {
    .bs-1-ns {
        box-shadow: var(--o-ui-bs-1);
    }
    .bs-2-ns {
        box-shadow: var(--o-ui-bs-2);
    }
    .bs-3-ns {
        box-shadow: var(--o-ui-bs-3);
    }
    .bs-4-ns {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-medium) {
    .bs-1-ns {
        box-shadow: var(--o-ui-bs-1);
    }
    .bs-2-m {
        box-shadow: var(--o-ui-bs-3);
    }
    .bs-3-m {
        box-shadow: var(--o-ui-bs-3);
    }
    .bs-4-m {
        box-shadow: var(--o-ui-bs-4);
    }
}

@media (--breakpoint-large) {
    .bs-1-l {
        box-shadow: var(--o-ui-bs-1);
    }
    .bs-2-l {
        box-shadow: var(--o-ui-bs-2);
    }
    .bs-3-l {
        box-shadow: var(--o-ui-bs-3);
    }
    .bs-4-l {
        box-shadow: var(--o-ui-bs-4);
    }
}
