/*
 * PRIMARY
 */
.b--primary-50 { border-color: var( --o-ui-primary-50 ); }
.b--primary-100 { border-color: var( --o-ui-primary-100 ); }
.b--primary-200 { border-color: var( --o-ui-primary-200 ); }
.b--primary-300 { border-color: var( --o-ui-primary-300 ); }
.b--primary-400 { border-color: var( --o-ui-primary-400 ); }
.b--primary-500 { border-color: var( --o-ui-primary-500 ); }
.b--primary-600 { border-color: var( --o-ui-primary-600 ); }
.b--primary-700 { border-color: var( --o-ui-primary-700 ); }
.b--primary-800 { border-color: var( --o-ui-primary-800 ); }
.b--primary-900 { border-color: var( --o-ui-primary-900 ); }
.hover-b--primary-50:hover { border-color: var( --o-ui-primary-50 ); }
.hover-b--primary-100:hover { border-color: var( --o-ui-primary-100 ); }
.hover-b--primary-200:hover { border-color: var( --o-ui-primary-200 ); }
.hover-b--primary-300:hover { border-color: var( --o-ui-primary-300 ); }
.hover-b--primary-400:hover { border-color: var( --o-ui-primary-400 ); }
.hover-b--primary-500:hover { border-color: var( --o-ui-primary-500 ); }
.hover-b--primary-600:hover { border-color: var( --o-ui-primary-600 ); }
.hover-b--primary-700:hover { border-color: var( --o-ui-primary-700 ); }
.hover-b--primary-800:hover { border-color: var( --o-ui-primary-800 ); }
.hover-b--primary-900:hover { border-color: var( --o-ui-primary-900 ); }
.focus-b--primary-50:focus { border-color: var( --o-ui-primary-50 ); }
.focus-b--primary-100:focus { border-color: var( --o-ui-primary-100 ); }
.focus-b--primary-200:focus { border-color: var( --o-ui-primary-200 ); }
.focus-b--primary-300:focus { border-color: var( --o-ui-primary-300 ); }
.focus-b--primary-400:focus { border-color: var( --o-ui-primary-400 ); }
.focus-b--primary-500:focus { border-color: var( --o-ui-primary-500 ); }
.focus-b--primary-600:focus { border-color: var( --o-ui-primary-600 ); }
.focus-b--primary-700:focus { border-color: var( --o-ui-primary-700 ); }
.focus-b--primary-800:focus { border-color: var( --o-ui-primary-800 ); }
.focus-b--primary-900:focus { border-color: var( --o-ui-primary-900 ); }
/*
 * MOONSTONE
 */
.b--moonstone-1 { border-color: var( --o-ui-moonstone-1 ); }
.b--moonstone-2 { border-color: var( --o-ui-moonstone-2 ); }
.b--moonstone-3 { border-color: var( --o-ui-moonstone-3 ); }
.b--moonstone-4 { border-color: var( --o-ui-moonstone-4 ); }
.b--moonstone-5 { border-color: var( --o-ui-moonstone-5 ); }
.b--moonstone-6 { border-color: var( --o-ui-moonstone-6 ); }
.b--moonstone-7 { border-color: var( --o-ui-moonstone-7 ); }
.b--moonstone-8 { border-color: var( --o-ui-moonstone-8 ); }
.b--moonstone-9 { border-color: var( --o-ui-moonstone-9 ); }
.b--moonstone-10 { border-color: var( --o-ui-moonstone-10 ); }
.hover-b--moonstone-1:hover { border-color: var( --o-ui-moonstone-1 ); }
.hover-b--moonstone-2:hover { border-color: var( --o-ui-moonstone-2 ); }
.hover-b--moonstone-3:hover { border-color: var( --o-ui-moonstone-3 ); }
.hover-b--moonstone-4:hover { border-color: var( --o-ui-moonstone-4 ); }
.hover-b--moonstone-5:hover { border-color: var( --o-ui-moonstone-5 ); }
.hover-b--moonstone-6:hover { border-color: var( --o-ui-moonstone-6 ); }
.hover-b--moonstone-7:hover { border-color: var( --o-ui-moonstone-7 ); }
.hover-b--moonstone-8:hover { border-color: var( --o-ui-moonstone-8 ); }
.hover-b--moonstone-9:hover { border-color: var( --o-ui-moonstone-9 ); }
.hover-b--moonstone-10:hover { border-color: var( --o-ui-moonstone-10 ); }
.focus-b--moonstone-1:focus { border-color: var( --o-ui-moonstone-1 ); }
.focus-b--moonstone-2:focus { border-color: var( --o-ui-moonstone-2 ); }
.focus-b--moonstone-3:focus { border-color: var( --o-ui-moonstone-3 ); }
.focus-b--moonstone-4:focus { border-color: var( --o-ui-moonstone-4 ); }
.focus-b--moonstone-5:focus { border-color: var( --o-ui-moonstone-5 ); }
.focus-b--moonstone-6:focus { border-color: var( --o-ui-moonstone-6 ); }
.focus-b--moonstone-7:focus { border-color: var( --o-ui-moonstone-7 ); }
.focus-b--moonstone-8:focus { border-color: var( --o-ui-moonstone-8 ); }
.focus-b--moonstone-9:focus { border-color: var( --o-ui-moonstone-9 ); }
.focus-b--moonstone-10:focus { border-color: var( --o-ui-moonstone-10 ); }
/*
 * SUNRAY
 */
.b--sunray-1 { border-color: var( --o-ui-sunray-1 ); }
.b--sunray-2 { border-color: var( --o-ui-sunray-2 ); }
.b--sunray-3 { border-color: var( --o-ui-sunray-3 ); }
.b--sunray-4 { border-color: var( --o-ui-sunray-4 ); }
.b--sunray-5 { border-color: var( --o-ui-sunray-5 ); }
.b--sunray-6 { border-color: var( --o-ui-sunray-6 ); }
.b--sunray-7 { border-color: var( --o-ui-sunray-7 ); }
.b--sunray-8 { border-color: var( --o-ui-sunray-8 ); }
.b--sunray-9 { border-color: var( --o-ui-sunray-9 ); }
.b--sunray-10 { border-color: var( --o-ui-sunray-10 ); }
.hover-b--sunray-1:hover { border-color: var( --o-ui-sunray-1 ); }
.hover-b--sunray-2:hover { border-color: var( --o-ui-sunray-2 ); }
.hover-b--sunray-3:hover { border-color: var( --o-ui-sunray-3 ); }
.hover-b--sunray-4:hover { border-color: var( --o-ui-sunray-4 ); }
.hover-b--sunray-5:hover { border-color: var( --o-ui-sunray-5 ); }
.hover-b--sunray-6:hover { border-color: var( --o-ui-sunray-6 ); }
.hover-b--sunray-7:hover { border-color: var( --o-ui-sunray-7 ); }
.hover-b--sunray-8:hover { border-color: var( --o-ui-sunray-8 ); }
.hover-b--sunray-9:hover { border-color: var( --o-ui-sunray-9 ); }
.hover-b--sunray-10:hover { border-color: var( --o-ui-sunray-10 ); }
.focus-b--sunray-1:focus { border-color: var( --o-ui-sunray-1 ); }
.focus-b--sunray-2:focus { border-color: var( --o-ui-sunray-2 ); }
.focus-b--sunray-3:focus { border-color: var( --o-ui-sunray-3 ); }
.focus-b--sunray-4:focus { border-color: var( --o-ui-sunray-4 ); }
.focus-b--sunray-5:focus { border-color: var( --o-ui-sunray-5 ); }
.focus-b--sunray-6:focus { border-color: var( --o-ui-sunray-6 ); }
.focus-b--sunray-7:focus { border-color: var( --o-ui-sunray-7 ); }
.focus-b--sunray-8:focus { border-color: var( --o-ui-sunray-8 ); }
.focus-b--sunray-9:focus { border-color: var( --o-ui-sunray-9 ); }
.focus-b--sunray-10:focus { border-color: var( --o-ui-sunray-10 ); }
/* MARINE */
.b--marine-1 { border-color: var( --o-ui-marine-1 ); }
.b--marine-2 { border-color: var( --o-ui-marine-2 ); }
.b--marine-3 { border-color: var( --o-ui-marine-3 ); }
.b--marine-4 { border-color: var( --o-ui-marine-4 ); }
.b--marine-5 { border-color: var( --o-ui-marine-5 ); }
.b--marine-6 { border-color: var( --o-ui-marine-6 ); }
.b--marine-7 { border-color: var( --o-ui-marine-7 ); }
.b--marine-8 { border-color: var( --o-ui-marine-8 ); }
.b--marine-9 { border-color: var( --o-ui-marine-9 ); }
.b--marine-10 { border-color: var( --o-ui-marine-10 ); }
.hover-b--marine-1:hover { border-color: var( --o-ui-marine-1 ); }
.hover-b--marine-2:hover { border-color: var( --o-ui-marine-2 ); }
.hover-b--marine-3:hover { border-color: var( --o-ui-marine-3 ); }
.hover-b--marine-4:hover { border-color: var( --o-ui-marine-4 ); }
.hover-b--marine-5:hover { border-color: var( --o-ui-marine-5 ); }
.hover-b--marine-6:hover { border-color: var( --o-ui-marine-6 ); }
.hover-b--marine-7:hover { border-color: var( --o-ui-marine-7 ); }
.hover-b--marine-8:hover { border-color: var( --o-ui-marine-8 ); }
.hover-b--marine-9:hover { border-color: var( --o-ui-marine-9 ); }
.hover-b--marine-10:hover { border-color: var( --o-ui-marine-10 ); }
.focus-b--marine-1:focus { border-color: var( --o-ui-marine-1 ); }
.focus-b--marine-2:focus { border-color: var( --o-ui-marine-2 ); }
.focus-b--marine-3:focus { border-color: var( --o-ui-marine-3 ); }
.focus-b--marine-4:focus { border-color: var( --o-ui-marine-4 ); }
.focus-b--marine-5:focus { border-color: var( --o-ui-marine-5 ); }
.focus-b--marine-6:focus { border-color: var( --o-ui-marine-6 ); }
.focus-b--marine-7:focus { border-color: var( --o-ui-marine-7 ); }
.focus-b--marine-8:focus { border-color: var( --o-ui-marine-8 ); }
.focus-b--marine-9:focus { border-color: var( --o-ui-marine-9 ); }
.focus-b--marine-10:focus { border-color: var( --o-ui-marine-10 ); }
/*
 * CLOUD
 */
.b--cloud-1 { border-color: var( --o-ui-cloud-1 ); }
.b--cloud-2 { border-color: var( --o-ui-cloud-2 ); }
.b--cloud-3 { border-color: var( --o-ui-cloud-3 ); }
.b--cloud-4 { border-color: var( --o-ui-cloud-4 ); }
.b--cloud-5 { border-color: var( --o-ui-cloud-5 ); }
.b--cloud-6 { border-color: var( --o-ui-cloud-6 ); }
.b--cloud-7 { border-color: var( --o-ui-cloud-7 ); }
.b--cloud-8 { border-color: var( --o-ui-cloud-8 ); }
.b--cloud-9 { border-color: var( --o-ui-cloud-9 ); }
.b--cloud-10 { border-color: var( --o-ui-cloud-10 ); }
.hover-b--cloud-1:hover { border-color: var( --o-ui-cloud-1 ); }
.hover-b--cloud-2:hover { border-color: var( --o-ui-cloud-2 ); }
.hover-b--cloud-3:hover { border-color: var( --o-ui-cloud-3 ); }
.hover-b--cloud-4:hover { border-color: var( --o-ui-cloud-4 ); }
.hover-b--cloud-5:hover { border-color: var( --o-ui-cloud-5 ); }
.hover-b--cloud-6:hover { border-color: var( --o-ui-cloud-6 ); }
.hover-b--cloud-7:hover { border-color: var( --o-ui-cloud-7 ); }
.hover-b--cloud-8:hover { border-color: var( --o-ui-cloud-8 ); }
.hover-b--cloud-9:hover { border-color: var( --o-ui-cloud-9 ); }
.hover-b--cloud-10:hover { border-color: var( --o-ui-cloud-10 ); }
.focus-b--cloud-1:focus { border-color: var( --o-ui-cloud-1 ); }
.focus-b--cloud-2:focus { border-color: var( --o-ui-cloud-2 ); }
.focus-b--cloud-3:focus { border-color: var( --o-ui-cloud-3 ); }
.focus-b--cloud-4:focus { border-color: var( --o-ui-cloud-4 ); }
.focus-b--cloud-5:focus { border-color: var( --o-ui-cloud-5 ); }
.focus-b--cloud-6:focus { border-color: var( --o-ui-cloud-6 ); }
.focus-b--cloud-7:focus { border-color: var( --o-ui-cloud-7 ); }
.focus-b--cloud-8:focus { border-color: var( --o-ui-cloud-8 ); }
.focus-b--cloud-9:focus { border-color: var( --o-ui-cloud-9 ); }
.focus-b--cloud-10:focus { border-color: var( --o-ui-cloud-10 ); }
/*
 * ALERT
 */
.b--beetle-1 { border-color: var( --o-ui-beetle-1 ); }
.b--beetle-2 { border-color: var( --o-ui-beetle-2 ); }
.b--beetle-3 { border-color: var( --o-ui-beetle-3 ); }
.b--beetle-4 { border-color: var( --o-ui-beetle-4 ); }
.b--beetle-5 { border-color: var( --o-ui-beetle-5 ); }
.b--beetle-6 { border-color: var( --o-ui-beetle-6 ); }
.b--beetle-7 { border-color: var( --o-ui-beetle-7 ); }
.b--beetle-8 { border-color: var( --o-ui-beetle-8 ); }
.b--beetle-9 { border-color: var( --o-ui-beetle-9 ); }
.b--beetle-10 { border-color: var( --o-ui-beetle-10 ); }
.hover-b--beetle-1:hover { border-color: var( --o-ui-beetle-1 ); }
.hover-b--beetle-2:hover { border-color: var( --o-ui-beetle-2 ); }
.hover-b--beetle-3:hover { border-color: var( --o-ui-beetle-3 ); }
.hover-b--beetle-4:hover { border-color: var( --o-ui-beetle-4 ); }
.hover-b--beetle-5:hover { border-color: var( --o-ui-beetle-5 ); }
.hover-b--beetle-6:hover { border-color: var( --o-ui-beetle-6 ); }
.hover-b--beetle-7:hover { border-color: var( --o-ui-beetle-7 ); }
.hover-b--beetle-8:hover { border-color: var( --o-ui-beetle-8 ); }
.hover-b--beetle-9:hover { border-color: var( --o-ui-beetle-9 ); }
.hover-b--beetle-10:hover { border-color: var( --o-ui-beetle-10 ); }
.focus-b--beetle-1:focus { border-color: var( --o-ui-beetle-1 ); }
.focus-b--beetle-2:focus { border-color: var( --o-ui-beetle-2 ); }
.focus-b--beetle-3:focus { border-color: var( --o-ui-beetle-3 ); }
.focus-b--beetle-4:focus { border-color: var( --o-ui-beetle-4 ); }
.focus-b--beetle-5:focus { border-color: var( --o-ui-beetle-5 ); }
.focus-b--beetle-6:focus { border-color: var( --o-ui-beetle-6 ); }
.focus-b--beetle-7:focus { border-color: var( --o-ui-beetle-7 ); }
.focus-b--beetle-8:focus { border-color: var( --o-ui-beetle-8 ); }
.focus-b--beetle-9:focus { border-color: var( --o-ui-beetle-9 ); }
.focus-b--beetle-10:focus { border-color: var( --o-ui-beetle-10 ); }
/*
 * POSITIVE
 */
.b--botanic-1 { border-color: var( --o-ui-botanic-1 ); }
.b--botanic-2 { border-color: var( --o-ui-botanic-2 ); }
.b--botanic-3 { border-color: var( --o-ui-botanic-3 ); }
.b--botanic-4 { border-color: var( --o-ui-botanic-4 ); }
.b--botanic-5 { border-color: var( --o-ui-botanic-5 ); }
.b--botanic-6 { border-color: var( --o-ui-botanic-6 ); }
.b--botanic-7 { border-color: var( --o-ui-botanic-7 ); }
.b--botanic-8 { border-color: var( --o-ui-botanic-8 ); }
.b--botanic-9 { border-color: var( --o-ui-botanic-9 ); }
.b--botanic-10 { border-color: var( --o-ui-botanic-10 ); }
.hover-b--botanic-1:hover { border-color: var( --o-ui-botanic-1 ); }
.hover-b--botanic-2:hover { border-color: var( --o-ui-botanic-2 ); }
.hover-b--botanic-3:hover { border-color: var( --o-ui-botanic-3 ); }
.hover-b--botanic-4:hover { border-color: var( --o-ui-botanic-4 ); }
.hover-b--botanic-5:hover { border-color: var( --o-ui-botanic-5 ); }
.hover-b--botanic-6:hover { border-color: var( --o-ui-botanic-6 ); }
.hover-b--botanic-7:hover { border-color: var( --o-ui-botanic-7 ); }
.hover-b--botanic-8:hover { border-color: var( --o-ui-botanic-8 ); }
.hover-b--botanic-9:hover { border-color: var( --o-ui-botanic-9 ); }
.hover-b--botanic-10:hover { border-color: var( --o-ui-botanic-10 ); }
.focus-b--botanic-1:focus { border-color: var( --o-ui-botanic-1 ); }
.focus-b--botanic-2:focus { border-color: var( --o-ui-botanic-2 ); }
.focus-b--botanic-3:focus { border-color: var( --o-ui-botanic-3 ); }
.focus-b--botanic-4:focus { border-color: var( --o-ui-botanic-4 ); }
.focus-b--botanic-5:focus { border-color: var( --o-ui-botanic-5 ); }
.focus-b--botanic-6:focus { border-color: var( --o-ui-botanic-6 ); }
.focus-b--botanic-7:focus { border-color: var( --o-ui-botanic-7 ); }
.focus-b--botanic-8:focus { border-color: var( --o-ui-botanic-8 ); }
.focus-b--botanic-9:focus { border-color: var( --o-ui-botanic-9 ); }
.focus-b--botanic-10:focus { border-color: var( --o-ui-botanic-10 ); }
/*
 * WHITE
 */
.b--white { border-color: var( --o-ui-white ); }
.hover-b--white:hover { border-color: var( --o-ui-white ); }
.focus-b--white:focus { border-color: var( --o-ui-white ); }
/*
 * UTILS
 */
.b--transparent { border-color: var( --o-ui-transparent ); }
.b--inherit { border-color: inherit; }
.hover-b--transparent:hover { border-color: var( --o-ui-transparent ); }
.hover-b--inherit:hover { border-color: inherit; }
.focus-b--transparent:focus { border-color: var( --o-ui-transparent ); }
.focus-b--inherit:focus { border-color: inherit; }
.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }
.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }
/* Resets */
.bt-0 { border-top-width: 0; }
.br-0 { border-right-width: 0; }
.bb-0 { border-bottom-width: 0; }
.bl-0 { border-left-width: 0; }
.b--dotted { border-style: dotted; }
.b--dashed { border-style: dashed; }
.b--solid { border-style: solid; }
.b--none { border-style: none; }
.br0 { border-radius: 0; }
.br1 { border-radius: .125rem; }
.br2 { border-radius: .25rem; }
.br3 { border-radius: .5rem; }
.br4 { border-radius: 1rem; }
.br-100 { border-radius: 100%; }
.br-pill { border-radius: 9999px; }
.br--bottom { border-top-left-radius: 0; border-top-right-radius: 0; }
.br--top { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.br--right { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.br--left { border-top-right-radius: 0; border-bottom-right-radius: 0; }

