.stroke-sunray-1 {
    stroke: var(--o-ui-sunray-1);
}

.stroke-sunray-2 {
    stroke: var(--o-ui-sunray-2);
}

.stroke-sunray-3 {
    stroke: var(--o-ui-sunray-3);
}

.stroke-sunray-4 {
    stroke: var(--o-ui-sunray-4);
}

.stroke-sunray-5 {
    stroke: var(--o-ui-sunray-5);
}

.stroke-sunray-6 {
    stroke: var(--o-ui-sunray-6);
}

.stroke-sunray-7 {
    stroke: var(--o-ui-sunray-7);
}

.stroke-sunray-8 {
    stroke: var(--o-ui-sunray-8);
}

.stroke-sunray-9 {
    stroke: var(--o-ui-sunray-9);
}

.stroke-sunray-10 {
    stroke: var(--o-ui-sunray-10);
}

.hover-stroke-sunray-1:hover {
    stroke: var(--o-ui-sunray-1);
}

.hover-stroke-sunray-2:hover {
    stroke: var(--o-ui-sunray-2);
}

.hover-stroke-sunray-3:hover {
    stroke: var(--o-ui-sunray-3);
}

.hover-stroke-sunray-4:hover {
    stroke: var(--o-ui-sunray-4);
}

.hover-stroke-sunray-5:hover {
    stroke: var(--o-ui-sunray-5);
}

.hover-stroke-sunray-6:hover {
    stroke: var(--o-ui-sunray-6);
}

.hover-stroke-sunray-7:hover {
    stroke: var(--o-ui-sunray-7);
}

.hover-stroke-sunray-8:hover {
    stroke: var(--o-ui-sunray-8);
}

.hover-stroke-sunray-9:hover {
    stroke: var(--o-ui-sunray-9);
}

.hover-stroke-sunray-10:hover {
    stroke: var(--o-ui-sunray-10);
}

.focus-stroke-sunray-1:focus {
    stroke: var(--o-ui-sunray-1);
}

.focus-stroke-sunray-2:focus {
    stroke: var(--o-ui-sunray-2);
}

.focus-stroke-sunray-3:focus {
    stroke: var(--o-ui-sunray-3);
}

.focus-stroke-sunray-4:focus {
    stroke: var(--o-ui-sunray-4);
}

.focus-stroke-sunray-5:focus {
    stroke: var(--o-ui-sunray-5);
}

.focus-stroke-sunray-6:focus {
    stroke: var(--o-ui-sunray-6);
}

.focus-stroke-sunray-7:focus {
    stroke: var(--o-ui-sunray-7);
}

.focus-stroke-sunray-8:focus {
    stroke: var(--o-ui-sunray-8);
}

.focus-stroke-sunray-9:focus {
    stroke: var(--o-ui-sunray-9);
}

.focus-stroke-sunray-10:focus {
    stroke: var(--o-ui-sunray-10);
}

